<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/view" method="POST" target="_blank">
		<label for="username"> User name : </label>
		<input type="text" id="username" name="username">
		<br>
			
		<label for="userid"> User id : </label>
		<input type="text" id="userid" name="userid">		<br>
			
		<label for="useremail"> User Email : </label>
		<input type="text" id="useremail" name="useremail">		<br>
		
		<input type="submit" value="submit">
	
	</form>
</body>
</html>