<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table cellspacing="0" border="1"> 
		<tr>
			<td>username</td>
			<td> <input type="text" th:value="${userDTO.getUsername}"> </td>
		</tr>
		
		<tr>
			<td>userId</td>
			<td> <input type="text" th:value="${userDTO.getUserid}"> </td>
		</tr>
		
		<tr>
			<td>userEmail</td>
			<td> <input type="text" th:value="${userDTO.getUseremail}"> </td>
		</tr>
		
	</table>
	<h1>sdasdfsfsdf</h1>
</body>
</html>