<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/view" method="POST" target="_blank">
		
		<label for ="userName"> User name : </label>
		<input type="text" id="userName" name="userName">
		<br>
		
		<label for="userId"> User id : </label>
		<input type="text" id="userId" name="userId">
		<br>
		
		<label for="userPwd"> User pwd : </label>
		<input type="text" id="userPwd" name="userPwd">
		<br>
		
		<label for="userHobby"> User hobby : </label>
		<input type="text" id="userHobby" name="userHobby">
		<br>
		
		<input type="submit" value="submit">
		<input type="reset" value="reset">  
		
	</form>

</body>
</html>